version: "3"
services:
  database:
    image: mysql/mysql-server:5.7
    container_name: grida-database
    ports:
      - "3306:3306"
    restart: always
    environment:
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_ROOT_HOST: '%'
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
      TZ: 'Asia/Seoul'
    volumes:
      - mysql-data:/var/lib/mysql
    command:
      - "mysqld"
      - "--character-set-server=utf8mb4"
      - "--collation-server=utf8mb4_unicode_ci"

  grida-core-api:
    depends_on:
      - database
    image: wwan13/grida-core-api:prod
    container_name: grida-core-api
    environment:
    - JAVA_OPTS=-Dspring.profiles.active=prod
    ports:
      - "8080:8080"
    restart: always
    
    env_file:
      - "./.env"
    links:
      - database
    volumes:
      - /home/ubuntu/remote/log:/log

  nginx:
    image: nginx:1.15-alpine
    restart: unless-stopped
    container_name: grida-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/config:/etc/nginx/conf.d
      - ./nginx/certbot/conf:/etc/letsencrypt
      - ./nginx/certbot/www:/var/www/certbot
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

  certbot:
    image: certbot/certbot:latest
    restart: unless-stopped
    volumes:
      - ./nginx/certbot/conf:/etc/letsencrypt
      - ./nginx/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
       - ./monitoring/prometheus:/etc/prometheus
  
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    user: "$UID:$GID"
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus

  loki:
    image: grafana/loki:latest
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml

  promtail:
    image: grafana/promtail:latest
    volumes:
      - ./log:/log
      - ./monitoring/promtail:/etc/promtail
    command: -config.file=/etc/promtail/config.yml

volumes: 
  grafana-data:
  mysql-data:
